sopa/src/main/mule/sopa.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ac0a27d-ceb6-4e8b-bbc7-e735c9000e57" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f903fb28-d2d8-4786-847c-830573bce5e7" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="sopaFlow" doc:id="fecb8778-c441-41c8-a4c2-190e37d9330a" >
		<http:listener doc:name="Listener" doc:id="66d30cce-b1b1-40f7-8d66-7d9b7c39d8ab" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="number1" doc:id="6c31781d-60f9-40fb-a389-e16fd1cba13b" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="number2" doc:id="51a43224-89fb-45d7-a9a3-317c2d492ca7" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="2f6ac31d-b335-453b-9f9f-d0a4809fee53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:name="Consume" doc:id="bd57c56e-122d-4970-a10b-bcfc03e780d5" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="8b4a993c-b6bf-4cde-9f48-28e5e17197b0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9edaf4ce-5f3d-45f3-a51b-a49af6f80f95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
